:root {
  --primary-color: #0099cc;
  --secondary-color: #07b9f4;
  --text-color: #000000;
  --background-color: #ffffff;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}

.container{
  margin-top: 5rem;
  text-align:  center;
}
.product-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}


.product {
  max-width: 80%;
  width: 100%;
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0px 2px 4px var(--box-shadow-color);
  transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s;
}

.product:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
 
}


.product img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color:#0099cc;
}


body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.product h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.product p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Product details styling */
.detallesProductos {
  margin: 2px;
  font-size: 1.2rem;
  color: var(--text-color);
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.descripcion {
  font-size: 1rem;
  margin-top: 1rem;
}

/* Button styling */
.btn {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--primary-color);
}

/* Media queries for responsiveness */
@media screen and (min-width: 448px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
