
.footer {
  background-color: #ffffff;
  padding: 1.5rem 0;
  position: relative;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5rem; 
}

.redes {
  text-align: center;
  margin-bottom: 1.5rem;
}

.redes-img {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.redes-img img {
  max-width: 50px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.redes-img img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 2rem;
  gap: 1rem; 
}

.info-item {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  color: #333;
}

h4 {
  font-size: 1.2rem;
  color: #0077b6;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}


.linea {
  border: 0;
  border-top: 2px solid #15b1ff;
  margin: 1rem 0;
}


.email {
  color: #53a0f2;
  text-decoration: none;
  transition: color 0.3s ease;
}

.email:hover {
  color: #005f8a;
  text-decoration: underline;
}

.footer-bottom {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .redes-img {
      gap: 1rem;
  }

  .info-container {
      flex-direction: column; 
      text-align: center;
      padding: 0 1rem;
  }

  .info-item {
      font-size: 0.9rem;
  }

  h4 {
      font-size: 1rem;
  }
}